@import './variables';

@mixin disableElement {
  pointer-events: none;
}

@mixin align-actions-right {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: $action-buttons-gap;
  }
}

@mixin group-table-team-link {
  .group-table {
    margin-bottom: $bot-indent;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      mat-icon {
        color: $color-accent;
      }
    }
  }
}
