// These are duplicates to themes/colors figure out where to keep them
$color-primary: #304C89;
$color-accent: #8E579B;
$color-warn: #00A6A6;
$color-success: #053225;
$color-error: #E34A6F;
$color-grey: rgba(0, 0, 0, .5);
$color-notify: #658E9C;
$color-black: #000;
$color-white: #fff;


$page-indent: 1rem;
$bot-indent: 1rem;
$action-buttons-gap: .25rem;
$page-element-bottom-margin: 1rem;

/* Color legend */
$color-advancing: $color-accent;
$color-relegation: $color-error;

@media screen and (min-width: 600px) {
  $page-indent: 2rem;
}
