@import '../../styles/variables';

.notification-card {
  &--bold {
    font-weight: bold;
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
  }

  &__content {
    display: flex;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__actions {
    &--accept {
      color: $color-success;
    }

    &--reject {
      color: $color-error;
    }
  }
}
