<form [formGroup]="form" (ngSubmit)="onSubmit()" class="register">
  <mat-form-field>
    <input [readonly]="isReadOnly" matInput type="text" placeholder="First Name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input [readonly]="isReadOnly" matInput type="text" placeholder="Last Name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input [readonly]="isReadOnly" matInput type="text" placeholder="Nickname" formControlName="nickname">
  </mat-form-field>
  <mat-form-field *ngIf="playerPositions.length" [class.register--readOnly]="isReadOnly">
    <mat-label>Position</mat-label>
    <mat-select formControlName="playerPositions" multiple>
      <mat-option
        *ngFor="let playerPosition of playerPositions"
        [value]="playerPosition"
      >{{ playerPosition.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input [readonly]="isReadOnly" matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="isFieldInvalid('email')">
      Please enter email!
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="!isReadOnly">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="isFieldInvalid('password')">
      Please enter password!
    </mat-error>
  </mat-form-field>
  <div *ngIf="!hideRegisterButton;else updateProfile" class="register__submit-container">
    <button mat-raised-button color="primary">Register</button>
  </div>
  <ng-template #updateProfile>
    <div *ngIf="!isReadOnly" class="register__submit-container">
      <button mat-raised-button color="default" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="accent" (click)="onSubmit()">Save</button>
    </div>
  </ng-template>
</form>
