@import '../../../styles/variables';

.general {
  &__header {
    margin-bottom: $bot-indent;

    button {
      margin-left: $action-buttons-gap;
    }
  }

  &__section {
    > p {
      color: $color-grey;
    }

    mat-divider {
      margin-bottom: $bot-indent;
    }

    > div {
      display: flex;

      p:first-of-type {
        width: 40%;
        color: $color-primary;
        text-transform: capitalize;
        font-weight: 500;
        padding-right: .5rem;
        box-sizing: border-box;
      }

      p:last-of-type {
        display: flex;
        align-items: center;
        width: 60%;
      }
    }
  }
}
