@import '../../../styles/variables';

.group-table {
  table {
    width: 100%;

    .cdk-column-points,
    .cdk-column-rowNumber,
    .cdk-column-played,
    .cdk-column-goalDifference {
      width: 2rem;
    }

    .cdk-column-rowNumber {
      text-align: right;
    }

    .cdk-column-name {
      text-align: left;
    }

    td,
    th {
      text-align: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    th {
      font-weight: bold;
    }

    tr[data-advancing] {
      .cdk-column-rowNumber {
        background-color: $color-advancing;
        color: $color-white;
      }
    }

    tr[data-relegating] {
      .cdk-column-rowNumber {
        background-color: $color-relegation;
        color: $color-white;
      }
    }
  }
}
