@import '../styles/variables';

.tournament {
  .form-field {
    display: flex;

    label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 7rem;
      padding-right: 1rem;
      line-height: 1;
      font-size: .75rem;
      text-align: right;
      box-sizing: border-box;
      text-transform: uppercase;
      color: $color-primary;
    }

    mat-form-field {
      flex-grow: 1;
    }

    mat-icon {
      color: $color-primary;
    }
  }

  &__submit-container {
    display: flex;
    justify-content: flex-end;
  }
}
