@import '../../styles/variables';

.tournament-match {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  &--align-right {
    text-align: right;
  }

  .mat-icon-button,
  .mat-icon {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }

  &__result {
    width: 100%;
    display: flex;

    &--indent {
      margin: 0 1rem;
    }
  }

  &__team-name {
    width: calc(50% - 2.5rem);
  }

  &__score {
    width: 3rem;
  }

  &__footer {
    padding: 1rem;

    &--divider {
      margin-bottom: $page-element-bottom-margin;

      mat-divider {
        margin: 0;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > button {
      margin-left: 1rem;
    }
  }

  &__enter-results {
    display: flex;

    > span {
      display: flex;
      align-items: center;
    }

    mat-form-field {
      width: 5rem;

      input {
        text-align: center;
      }
    }
  }
}
