@import '../../styles/mixins';

.login {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
  box-sizing: border-box;

  &__submit-container {
    @include align-actions-right;
  }
}
