@import '../../styles/variables';

.color-legend {
  &__item {
    display: flex;
    align-items: center;
  }

  &__color-code {
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem 0 0;
    border: .0625 solid black;
    border-radius: .125rem;

    &[variant="primary"] {
      background-color: $color-advancing;
    }

    &[variant="accent"] {
      background-color: $color-advancing;
    }
  }

  &__description {
    font-size: .75rem;
    color: $color-grey;
  }
}
