<div *ngIf="tournament && tournament.eliminationPhaseStarted" class="elimination-phase">
  <app-sub-header text="elimination phase"></app-sub-header>
  <app-elimination-table></app-elimination-table>
  <mat-divider></mat-divider>
</div>

<app-sub-header text="group stage"></app-sub-header>
<div *ngFor="let group of groups" class="group-table">
  <table mat-table [dataSource]="group.rows" class="mat-elevation-z3">
    <ng-container matColumnDef="rowNumber">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.rowNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> PTS </th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <ng-container matColumnDef="played">
      <th mat-header-cell *matHeaderCellDef> P </th>
      <td mat-cell *matCellDef="let element"> {{element.played}} </td>
    </ng-container>

    <ng-container matColumnDef="goalDifference">
      <th mat-header-cell *matHeaderCellDef> GD </th>
      <td mat-cell *matCellDef="let element"> {{element.goalDifference}} </td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef> W </th>
      <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
    </ng-container>

    <ng-container matColumnDef="draws">
      <th mat-header-cell *matHeaderCellDef> D </th>
      <td mat-cell *matCellDef="let element"> {{element.draws}} </td>
    </ng-container>

    <ng-container matColumnDef="loses">
      <th mat-header-cell *matHeaderCellDef> L </th>
      <td mat-cell *matCellDef="let element"> {{element.loses}} </td>
    </ng-container>

    <ng-container matColumnDef="goals for">
      <th mat-header-cell *matHeaderCellDef> F </th>
      <td mat-cell *matCellDef="let element"> {{element.goals}} </td>
    </ng-container>

    <ng-container matColumnDef="goals against">
      <th mat-header-cell *matHeaderCellDef> A </th>
      <td mat-cell *matCellDef="let element"> {{element.conceivedGoals}} </td>
    </ng-container>

    <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef colspan="5"> Group {{ group.groupName }} </th>
    </ng-container>

    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="5">
        <app-color-legend [colorLegend]="colorLegend"></app-color-legend>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['groupName']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let ii = index;"
      [attr.data-advancing]="ii < group.advancingTeams ? '' : null"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
  </table>
</div>
